Markdown
PyQt6
aiohttp
autopep8
bandit
black
cachetools
chromadb
codespell
cryptography
ddgs
docling
flake8
gitpython
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
mcp[cli,rich]
mem0ai
mypy
openai
psutil
pydantic
pylint
pyright
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dotenv
qasync
requests
responses
rich
tenacity
types-Markdown
types-psutil
types-requests
vulture
websocket-client
