autopep8
chromadb
codespell
cryptography
docling
flake8
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
Markdown
mypy
openai
pydantic
PyQt6
pytest
python-dotenv
requests
rich
types-Markdown
types-requests
vulture
mem0ai
